@use "../../../installations/variables" as *;
@use "../../../installations/mixins" as *;
@use "sass:map";

$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);

.icons-section {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: relative;

    
    &__category {
        margin-bottom: 10px;
    }
    
    &__header {
        margin-bottom: 30px;
    }
}


@media (min-width: map.get($screen, tablet)) {
    .icons-section {

        &__header {
            margin-bottom: 60px;
        }
    }
}
    
    

