@mixin font ($fw, $fs, $lh, $col) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    color: $col;
}

@mixin bg-img ($url){
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("#{$url}");
}

@mixin gradient-text () {
    background: linear-gradient(to right, #F0145A, 20%, #EF8080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}