@use "./variables" as *;
@use  "./mixins" as *;
@use "sass:map";

$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

p,
h1,
h2,
h3, 
h4 {
    margin-top: 0;
}

.wrapper,
.wrapper-benefits-description,
.wrapper-publications,
.wrapper-contacts-page,
.wrapper-team,
.wrapper-about  {
    @include marginY (30px);
}

.wrapper-header {
    margin-left: 15px;
    margin-right: 15px;
}


@media (min-width: map.get($screen, tablet))  {
    .wrapper,
    .wrapper-benefits-description,
    .wrapper-header,
    .wrapper-publications,
    .wrapper-contacts-page,
    .wrapper-team,
    .wrapper-about   {
        @include marginY (60px);
    }
}

@media (min-width: map.get($screen, laptop)) {
    .wrapper-benefits,
    .wrapper-header-desktop {
        @include marginY (60px);
    }

    .wrapper-benefits-description {
        @include marginY (0px);
    }

    .wrapper-header {
        @include marginY (0px);
    }
}

@media (min-width: map.get($screen, desktop-sd)) {
    .wrapper-publications,
    .wrapper-contacts-page,
    .wrapper-team,
    .wrapper-about  {
        @include marginY (180px);
    }
}

@media (min-width: map.get($screen, desktop-hd)) {
    .wrapper,
    .wrapper-header-desktop {
        @include margin-auto;
    }

    .wrapper-secondary {
        width: 1720px;
        @include margin-auto;
    }

    .wrapper-publications,
    .wrapper-contacts-page,
    .wrapper-team,
    .wrapper-about   {
        width: 1360px;
        @include margin-auto;
    }
}