@use "sass:map";

$screen: ("tablet": 768px,
        "laptop": 1024px,
        "desktop-sd": 1440px,
        "desktop-hd": 1920px);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

p,
h2,
h3, 
h4 {
    margin-top: 0;
}

.wrapper {
    margin-left: 30px;
    margin-right: 30px;
}

@media (min-width: map.get($screen, tablet))  {
    .wrapper {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media (min-width: map.get($screen, desktop-hd)) {
    .wrapper {
        width: 1600px;
        margin-left: auto;
        margin-right: auto;
    }
}