$regular-color: #24A3FF;
$regular-color-hover: #0085FF;
$regular-color-active: #006CCF;

$hover-color: #F0145A;

$separator: 4px solid #E6E6F0;

$main-background: #FFFFFF;
$secondary-background: #F5F5FA;

$main-text-color: #323264;
$secondary-text-color: #B3B3BA;




