@use "../../variables" as *;
@use "../../mixins" as *;
@use "sass:map";

$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);

.body-service-page {

    &__icon-section {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    &__clients-section {
        padding-top: 70px;
    }
}


@media (min-width: map.get($screen, tablet)) {
    .body-service-page {

        &__icon-section {
            padding-top: 65px;
        }

        &__clients-section {
            padding-top: 80px;
        }
    }
}