@use "sass:map";

$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);


@media (min-width: map.get($screen, tablet)) {
    .dot {
        &--gray::before {
            content: url("../images/svg/dot.svg");
            position: absolute;
            left: -13px;
            top: 50%;
            transform: translateY(-50%);
        }
        
        &--white:before {
            content: url("../images/svg/dot-header.svg");
            position: absolute;
            left: -12px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}