@use "../../installations/variables" as *;
@use "../../installations/mixins" as *;

.languages {
    display: flex;
    align-items: center;

    &__item {
        text-decoration: none;
        letter-spacing: 1px;
        padding: 5px 7px;
        border-radius: 8px;
        background-color: transparent; 
        @include font (700, 12px, 15px);

        &--dark  {
            color: $main-background;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }

        &--light {
            color: $secondary-text-color;

            &:hover {
                background-color: rgba(245, 245, 250, 1);
            }
        }

        &--active {
            background-color: $hover-color;
            color: #FFFFFF;
        }
    }
}