@use "../../installations/variables" as *;
@use "../../installations/mixins" as *;

.main-button {
    background-color: $regular-color;
    @include font (700, 16px, 19px, #FFFFFF);
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
    border: none;

    &:hover {
        background-color: $regular-color-hover;
    }

    &:active {
        background-color: $regular-color-active;
    }

    &--filled {
        width: 100%;
        padding: 18px;
    }

    &--short {
        width: 212px;
        padding: 18px 30px;
    }
}
