@use "../../variables" as *;
@use "../../mixins" as *;

.card-data {
    padding: 30px;

    &__header {
        @include font (700, 16px, 19px, $headerColor);
        margin-bottom: 15px;

        &:hover {
            color: $hoverColor;
        }
    }

    &__date {
        @include font (700, 12px, 15px, #B3B3BA);
        letter-spacing: 1px;
        display: inline-block;
        margin-bottom: 15px;
        text-transform: uppercase
    }

    &__text {
        @include font (400, 14px, 22px, #000000);
        padding-top: 15px;
        border-top: 4px solid #E6E6F0;
        margin-bottom: 0;
    }
}


