@use "../../variables" as *;
@use "../../mixins" as *;
@use "sass:map";

$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);

.card-list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__item {
        background-color: $main-background;
        border-radius: 8px;
        overflow: hidden;
        display: block;
        text-decoration: none;
    }

    &__image {
        height: 200px;

        &--publication-first {
            @include bg-img ("../images/publication-1.png");
        }

        &--publication-second {
            @include bg-img ("../images/publication-2.png");
        }

        &--publication-third {
            @include bg-img ("../images/publication-3.png");
        }

        &--publication-fourth {
            @include bg-img ("../images/publication-4.png");
        }

        &--publication-fifth {
            @include bg-img ("../images/publication-5.png");
        }
    }
}

@media (min-width: map.get($screen, tablet))  {
    .card-list {
        flex-direction: row;
        flex-wrap: wrap;
         
        &--homepage {
            .card-list__item:nth-child(1),
            .card-list__item:nth-child(2) {
                flex-grow: 1;
                width: 309px;
            }

            .card-list__item:nth-child(3) {
                flex-grow: 2;
                width: 648px;
            }
        }

        &--page {
            .card-list__item {
                width: calc(50% - 15px);
            }
        }   
    }
}

@media (min-width: map.get($screen, laptop))  {
    .card-list {
        &__item {
            flex-grow: 1;
            max-width: calc(33.33% - 20px);
        }
    }
}

