@use "../../variables" as *;
@use "../../mixins" as *;
@use "sass:map";

$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);

.card-list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__item {
        background-color: #FFFFFF;
        border-radius: 8px;
        overflow: hidden;
    }

    &__image {
        &--publication-first {
            @include bg-img ("../images/publication-1.png");
            height: 200px;
        }

        &--publication-second {
            @include bg-img ("../images/publication-2.png");
            height: 200px;
        }

        &--publication-third {
            @include bg-img ("../images/publication-3.png");
            height: 200px;
        }

        &--publication-fourth {
            @include bg-img ("../images/publication-4.png");
            height: 200px;
        }

        &--publication-fifth {
            @include bg-img ("../images/publication-5.png");
            height: 200px;
        }
    }
}

@media (min-width: map.get($screen, tablet))  {
    .card-list {
        flex-direction: row;
        flex-wrap: wrap;

        &__item:nth-child(1),
        &__item:nth-child(2) {
            flex-grow: 1;
            width: 309px;
        }

        &__item:nth-child(3) {
            flex-grow: 2;
            width: 648px;
        }
    }
}

@media (min-width: map.get($screen, laptop))  {
    .card-list {
        &__item {
            flex-grow: 1;
            min-width: 281px;
            max-width: calc(33.33% - 20px);
        }
    }
}

