@use "../../installations/variables" as *;
@use "../../installations/mixins" as *;
@use "sass:map";


$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);

.popup {

    &--modal {
        display: none;

        .popup__form-box {
            @include center;
            padding: 30px;
            width: 100%;
            max-width: 650px;
            background-color: $secondary-background;
        }
    }

    &--static {
        .popup__form-box {
            padding: 30px;
            width: 100%;
            background-color: $secondary-background;
            border-radius: 12px;
            position: relative;
        }
    }

    &__fieldset {
        border:  none;
        margin: 0;
        padding: 0 0 30px 0;
    }

    &__main-header {
        @include header-text-mobile;
        @include gradient-text ();
        margin-bottom: 30px;
    }

    &__secondary-header {
        @include caps-text;
        color: $secondary-text-color;
        margin-bottom: 15px;
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__cross {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    &__cross:hover {
        background-color: #E6E6F0;
        border-radius: 8px;
    }
}

.popup-showed {
    display: block;
}

@media (min-width: map.get($screen, tablet))  {
    .popup {
        &__form-box {
            width: 650px;
            border-radius: 12px;
        }

        &__main-header {
            @include header-text-desktop;
        }
    }
}
