@use "../../installations/variables" as *;
@use "../../installations/mixins" as *;
@use "sass:map";


$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);


.navigation {
    display: none;
}

@media (min-width: map.get($screen, tablet)) {
    .navigation {
        display: flex;
        @include paddingX (15px);

        &__menu {
            display: flex;
            gap: 15px;
        }
    
        &__item {
            @include font (700, 16px, 20px);
            text-decoration: none;

            &--dark {
                color: #FFFFFF;
            }
    
            &--active {
                color: $hover-color;
                padding-bottom: 3px;
                border-bottom: 2px solid $hover-color;
            }
        }
    }
}

@media (min-width: map.get($screen, laptop))  {
    .navigation {
        padding: 0;
    }
}


@media (min-width: map.get($screen, laptop)) {
    .navigation__item:hover  {
        color: $hover-color;
    }
}

