@use "../../installations/variables" as *;
@use "../../installations/mixins" as *;
@use "sass:map";


$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);


.navigation {
    display: none;
}

@media (min-width: map.get($screen, tablet)) {
    .navigation {
        display: flex;
        @include paddingY (15px);

        &__menu {
            display: flex;
            gap: 15px;
        }
    
        &__item {
            @include font (700, 16px, 20px);
            text-decoration: none;
            padding-bottom: 3px;
            border-bottom: 2px solid transparent;

            &:hover {
                border-color: $regular-color;
            }

            &--dark {
                color: #FFFFFF;

                &:hover {
                    border-color: #FFFFFF;
                }
            }
    
            &--active {
                color: $hover-color;
                border-color: $hover-color;
            }
        }
    }
}

@media (min-width: map.get($screen, laptop))  {
    .navigation {
        padding: 0;
    }
}


