@use "../../variables" as *;
@use "../../mixins" as *;
@use "sass:map";

$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);

.service-description {

    &__main {
        padding-top: 40px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        
        gap: 28px;
        align-items: center;
        text-align: center
    }

    &__main-header {
        @include font (700, 30px, 37px);
        @include gradient-text ();
        margin-bottom: 0;
    }

    &__text {
        @include font (400, 19px, 30px, #FFFFFF);
        margin-bottom: 0;
    }

    &__benefits {
        padding-top: 30px;
        padding-bottom: 60px;
        border-top: 4px solid rgba(255, 255, 255, 0.5);
    }

    &__secondary-header {
        @include font (700, 22px, 27px, #FFFFFF);
        margin-bottom: 30px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    &__column {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    &__marker {
        @include font (400, 18px, 26px, #FFFFFF);
        margin-bottom: 0;
        position: relative;
        margin-left: 14px;
        width: 100%;

        &::before {
            content: '';
            position: absolute;
            top: 10px;
            left: -15px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $hoverColor;
        }
    }
}



@media (min-width: map.get($screen, tablet)) {
    .service-description {

        &__main {
            padding-top: 0;
            padding-bottom: 60px;
            margin-left: auto;
            margin-right: auto;
        }

        &__list {
            flex-direction: row;
            gap: 60px;
            justify-content: space-between;  
        }

        &__column {
            width: calc(50% - 30px);
        }
    }
}

@media (min-width: map.get($screen, laptop))  {
    .service-description {

        &__main,
        &__benefits {
            max-width: 1080px;
            margin-right: auto;
            margin-left: auto; 
        }
    }
}


@media (min-width: map.get($screen, desktop-sd)) {
    .service-description {
        
        &__main,
        &__benefits {
            max-width: 1360px;
            margin-left: auto;
            margin-right: auto; 
        }
    }
}

@media (min-width: map.get($screen, desktop-hd)) {

}