@use "../installations/variables" as *;
@use  "../installations/mixins" as *;
@use "sass:map";

$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

p,
h1,
h2,
h3, 
h4 {
    margin-top: 0;
}

.wrapper,
.wrapper-benefits-description,
.wrapper-secondary  {
    @include marginX (30px);
}

.wrapper-header {
    margin-left: 15px;
    margin-right: 15px;
}


@media (min-width: map.get($screen, tablet))  {
    .wrapper,
    .wrapper-benefits-description,
    .wrapper-header,
    .wrapper-secondary  {
        @include marginX (60px);
    }
}

@media (min-width: map.get($screen, laptop)) {
    .wrapper-benefits,
    .wrapper-header-desktop {
        @include marginX (60px);
    }

    .wrapper-benefits-description {
        @include marginX (0px);
    }

    .wrapper-header {
        @include marginX (0px);
    }
}

@media (min-width: map.get($screen, desktop-sd)) {
    .wrapper-secondary  {
        @include marginX (180px);
    }
}

@media (min-width: map.get($screen, desktop-hd)) {
    .wrapper,
    .wrapper-header-desktop {
        width: 1600px;
        @include margin-auto ();
    }

    .wrapper-clients {
        width: 1720px;
        @include margin-auto ();
    }

    .wrapper-secondary {
        width: 1360px;
        @include margin-auto (); 
    }
}