@use "../../../installations/variables" as *;
@use "../../../installations/mixins" as *;
@use "sass:map";


$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);

.contacts-page {
    @include paddingXX (15px, 30px);
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__communications {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__adress {
        @include font (400, 21px, 30px, $main-text-color);
        font-style: normal;
    }

    &__connection {
        @include paddingX (30px);
        border-top: $separator;
        border-bottom: $separator;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__tel {
        @include font (400, 21px, 30px, #46466E);
        text-decoration: none;
    }

    &__mail {
        @include font (400, 21px, 30px);
        text-decoration: none;

        &:hover {
            color: $hover-color;
        }
    }

    &__facebook-link {
        display: flex;
        gap: 10px;
        text-decoration: none;
        align-items: center;
        width: 155px;

        &:hover path,
        &:hover .contacts-page__facebook-text {
            fill: $hover-color;
            color: $hover-color;
        }
    }

    &__facebook-text {
        @include font (700, 12px, 16px);
        text-transform: uppercase;
        margin-bottom: 0;
        letter-spacing: 1px;
    }
}



@media (min-width: map.get($screen, tablet)) {
    .contacts-page {
        @include paddingXX (0px, 60px);
        gap: 60px;
        justify-content: space-between;
    }
}

@media (min-width: map.get($screen, laptop)) {
    .contacts-page {
        flex-direction: row;

        &__communications, 
        &__popup {
            width: calc(50% - 30px);
        }
    }
}