@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";

$media: ("tablet": 768px,
        "laptop": 1024px,
        "desktop-sd": 1440px,
        "desktop-hd": 1920px);


.card-list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__item {
        background-color: #FFFFFF;
        border-radius: 8px;
        overflow: hidden;
    }

    &__image {
        
        &--associate {
            @include bc-img ("../images/associate.png");
            height: 200px;
        }

        &--gdpr {
            @include bc-img ("../images/gdpr.png");
            height: 200px;
        }

        &--testament {
            @include bc-img ("../images/testament.png");
            height: 200px;
        }
    }
}









@media (min-width: map.get($media, tablet))  {
    .card-list {
        flex-direction: row;
        flex-wrap: wrap;

        &__item:nth-child(1),
        &__item:nth-child(2) {
            flex-grow: 1;
            width: 309px;
        }

        &__item:nth-child(3) {
            flex-grow: 2;
            width: 648px;
        }
    }
}

@media (min-width: map.get($media, laptop))  {
    .card-list {

        &__item {
            max-width: 281px;
            flex-grow: 0;
        }
    }
}

@media (min-width: map.get($media, desktop-sd)) {
    .card-list {

        &__item {
            max-width: 420px;
        }
    }
}

@media (min-width: map.get($media, desktop-hd)) {
    .card-list {
        justify-content: space-between;
        &__item {
            max-width: 513px;
        }
    }
}