@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";

$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);

.category-name {
    @include font (700, 14px, 17px, $headerColor);
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 2px;
    
    &:hover {
        color: $hoverColor; 
    }

    &:hover .category-name__arrow path {
        stroke: $hoverColor; 
    }

    &__header {
        @include font (700, 30px, 36px);
        @include gradient-text ();
    }
}

@media (min-width: map.get($screen, tablet))  {
    .category-name__header {
        font-size: 38px;
        line-height: 46px;
    }
}












