@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";


$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);

.category-logo {
    display: flex;
    gap: 20px;
    align-items: flex-start;

    &__kind {
        position: relative;
        @include font (400, 20px, 25px, #FFFFFF);
        display: block;
        text-decoration: none;
    }

    &__kind::before {
        content: url('../images/svg/slash-small.svg');
        position: absolute;
        top: 0;
        left: -13px;
    }

    &__image-logo {
        width: 70px;
        height: 32px;
    }
}

@media (min-width: map.get($screen, tablet)) {
    .category-logo {
        gap: 30px;

        &__image-logo {
            width: 130px;
            height: 60px;
        }

        &__kind {
            @include font (400, 36px, 44px, #FFFFFF);
        }

        &__kind::before {
            content: url('../images/svg/slash.svg');
            position: absolute;
            top: 0;
            left: -22px;
        }
    }
}