@use "../variables" as *;
@use "../mixins" as *;

.contacts {

    &__adress {
        @include regular-text;
        font-style: normal;
        position: relative;

        &--dark {
            color: $main-text-color;
        }

        &--light {
            color: $secondary-text-color;
        }
    }

    &__map-link {
        @include font (700, 12px, 15px);
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;

        &:hover {
            color: $hover-color;
        }
    }

    &__facebook {
        position: relative;
        
        &:hover .contacts__facebook-icon path {
            fill: $hover-color;
        }
    }

    &__facebook-icon {
        
        &--light {
            @include size (24px);
            vertical-align: middle
        } 

        
    }

    &__tel {
        @include regular-text;
        text-decoration: none;
        position: relative;

        &--dark {
            color: #46466E;
        }

        &--light {
            color: $main-background
        }

        &--medium {
            color: $secondary-text-color
        }
    }

    &__mail {
        @include regular-text;
        text-decoration: none;
        position: relative;

        &:hover {
            color: $hover-color;
        }
    }
}