@use "../variables" as *;
@use "../mixins" as *;

.form-input {
    border: none;
    color: #000000;
    padding: 15px;
    border-radius: 8px;
    resize: none;

    &::placeholder {
        @include font (400, 16px, 26px, $secondary-text-color);
    }
    
    &:focus {
        outline: 1px solid $regular-color;
        border-radius: 8px;
    }
    
    &:invalid {
        color: $hover-color;
        outline-color: $hover-color;
    }
}