@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";

$media: ("tablet": 768px,
        "laptop": 1024px,
        "desktop-sd": 1440px,
        "desktop-hd": 1920px);

.publications-section {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #F5F5FA;

    &__category {
        margin-bottom: 5px;
    }

    &__header {
        margin-bottom: 30px;
    }
}

.card-list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__item {
        background-color: #FFFFFF;
        border-radius: 8px
    }

    &__image {
        @include bc-img ("../images/associate.png");
        height: 200px;
    }
}









@media (min-width: map.get($media, tablet))  {

}

@media (min-width: map.get($media, laptop))  {

}

@media (min-width: map.get($media, desktop-sd)) {

}

@media (min-width: map.get($media, desktop-hd)) {

}