@use "../../variables" as *;
@use "../../mixins" as *;
@use "sass:map";

$screen: ("tablet": 768px,
        "laptop": 1024px,
        "desktop-sd": 1440px,
        "desktop-hd": 1920px);

.publications-section {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #F5F5FA;

    &__category {
        margin-bottom: 5px;
    }

    &__header {
        margin-bottom: 30px;
    }
}

@media (min-width: map.get($screen, tablet))  {
    .publications-section__category {
        margin-bottom: 10px;
    }
}

