@use "../variables" as *;
@use "../mixins" as *;

.slider {
    display: flex;
    justify-content: center;
    gap: 15px;

    &__button {
        @include size (16px);
        border-radius: 50%;
        background-color: $regular-color;
        border: none;
        opacity: 20%;

        &:hover {
            opacity: 60%;
        }

        &--active {
            opacity: 100%;
        }
    }
}

