@use "../variables" as *;
@use "../mixins" as *;
@use "sass:map";

$media: ("tablet": 768px,
        "laptop": 1024px,
        "desktop-sd": 1440px,
        "desktop-hd": 1920px);

.team-section {
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: #FFFFFF;

    &__card {
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        overflow: hidden;
    }

    &__photo {
        height: 500px;
        @include bc-img ("../images/partner-mobile.png");
    }

    &__article {
        padding: 30px;
        background-color: #F5F5FA;
    }

    &__category {
        margin-bottom: 5px;
    }

    &__header {
        margin-bottom: 30px;
    }

    &__author {
        margin-bottom: 6px;
        @include font (700, 16px, 19px, #B3B3BA)
    }

    &__position {
        @include font (400, 14px, 22px, #B3B3BA)
    }
}

@media (min-width: map.get($media, tablet))  {
    .team-section__photo {
        background-image: url("../images/partner-tablet.png");
    }
}

@media (min-width: map.get($media, laptop))  {
    .team-section {

        &__photo {
            background-image: url("../images/partner-laptop.png");
            height: 528px;
            min-width: 400px;
            flex-grow: 1;
        }

        &__article {
            flex-grow: 2;
        }

        &__card {
            flex-direction: row;
        }
    }
}

@media (min-width: map.get($media, desktop-sd)) {
    .team-section__photo {
        background-image: url("../images/partner-desktop.png");
        height: 344px;
        max-width: 400px;
    }   
}

@media (min-width: map.get($media, desktop-hd)) {
    .team-section__photo {
        background-image: url("../images/partner-desktop-hd.png");
        height: 298px;
    }
}