@use "../../../installations/variables" as *;
@use "../../../installations/mixins" as *;

.card-data {
    padding: 30px;

    &__header {
        @include font (700, 16px, 19px, $regular-color);
        margin-bottom: 15px;

        &:hover {
            color: $hover-color;
        }
    }

    &__date {
        @include font (700, 12px, 15px, $secondary-text-color);
        letter-spacing: 1px;
        display: inline-block;
        margin-bottom: 15px;
        text-transform: uppercase
    }

    &__text {
        @include font (400, 14px, 22px, #000000);
        padding-top: 15px;
        border-top: $separator;
        margin-bottom: 0;
    }
}


