@use "../../../installations/variables" as *;
@use "../../../installations/mixins" as *;
@use "sass:map";

$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);


.publication-description {
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__post-image {
        @include bg-img ('../images/publication-cover.jpg');
        @include size (100%, 300px);
        border-radius: 12px;
        margin-bottom: 30px;
    }

    &__post-main {
        @include paddingY (30px);
        border-bottom: $separator;
    }

    &__post-name {
        @include font (700, 20px, 24px, $main-text-color);
        margin-bottom: 15px;
    }

    &__post-date {
        @include font (700, 12px, 15px, $secondary-text-color);
        letter-spacing: 1px;
        display: inline-block;
        text-transform: uppercase;
    }

    &__text {
        @include font (400, 16px, 26px, #000000);
        margin-bottom: 0;
    }

    &__main-header {
        @include header-text-mobile;
        @include gradient-text ();
        margin-bottom: 0;
    }

    &__secondary-header {
        @include font (700, 16px, 19px, #46466E);
        margin-bottom: 15px;
    }

    &__list {
        margin-top: 0;
        margin-bottom: 0;
    }

    &__list-item {
        @include font (400, 18px, 26px, #000000);
        margin-bottom: 15px;

        &::marker {
            @include font (700, 18px, 26px, $hover-color);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__image-section {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center
    }

    &__image {
        @include bg-img ('../images/illustration.jpg');
        @include size (100%, 196px);
    }

    &__image-caption {
        @include font(400, 14px, 22px, $secondary-text-color);
        margin-bottom: 0;
    }

    &__socials-icons {
        display: flex;
        gap: 10px;
    }

    &__icon {
        @include size (42px);
        border-radius: 12px;
        padding: 9px;
        background-color: $secondary-background;

        &:hover {
            background-color: #EDEDF7;
        }
    }
}


@media (min-width: map.get($screen, tablet)) {
    .publication-description {

        &__post-main {
            padding-top: 0;
        }
        
        &__post-name {
            font-size: 30px;
            line-height: 37px;
        }

        &__image {
            @include size (640px, 398px);
        }

        &__main-header {
            @include header-text-desktop;
        }

        &__secondary-header {
            font-size: 22px;
            line-height: 27px;
        }
    }
}

@media (min-width: map.get($screen, tablet)) {
    .publication-description {

        &__post-image {
            height: 500px;
        }
    }
}
