@use "../../../mixins" as *;
@use "../../../variables" as *;
@use "sass:map";


$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);

.publications {
    @include paddingXX (32px, 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    &__switch {
        width: 233px;
        padding: 2px;
        background-color: #E6E6F0;
        border-radius: 12px;
        display: flex;
        justify-content: space-between;
    }

    &__button {
        padding: 8px 30px;
        background-color: transparent;
        border-radius: 10px;
        border: none;
        @include regular-text ($main-text-color);

        &:hover {
        background-color: $secondary-background;
        }

        &--active {
            background-color: $main-background;
        }
    }
}

