@use "../../installations/variables" as *;
@use "../../installations/mixins" as *;
@use "sass:map";

$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);

.clients-section {
    text-align: center;

    &__header {
        @include caps-text;
        color: $main-text-color;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 30px;
    }
}

@media (min-width: map.get($screen, desktop-hd)) {
    
    .clients-section {
        padding-bottom: 60px;
    }
}





