@use "../../installations/variables" as *;
@use "../../installations/mixins" as *;
@use "sass:map";

$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);

.body {

    &__background-main {
        background-color: $main-background;
    }

    &__background-gradient {
        background: linear-gradient(to bottom left, #323264, 60%, #643E72);
        position: relative;

        &::before{
            content: '';
            background-color: #CACADB;
            height: 10px;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            position: absolute;
            bottom: -10px;
            left: 20px;
            right: 20px;   
        }
        
        &::after {
            content: '';
            background-color: #E7E7F2;
            height: 10px;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            position: absolute;
            bottom: -20px;
            left: 40px;
            right: 40px;
        }
    }

    &__background-secondary {
        background-color: $secondary-background;
    }

    &__space {
        height: 80px;
        background-color: $main-background;
    }

    &__popup {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(50, 50, 100, 0.7);
    }

    &__footer-separator {
        border-top: 2px solid #E6E6F0;
    }
}
