@use "../../installations/variables" as *;
@use "../../installations/mixins" as *;
@use "sass:map";

$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);

.body {
   
    &__icon-section {

        &--homepage {
            @include paddingYY (30px, 60px);
        } 

        &--services-page {
            @include paddingYY (0px, 60px);
        }
    }

    &____clients-section {
        
        &--homepage {
            padding-top: 30px;
        }

        &--services-page {
            padding-top: 70px;
        }
    }

    &__publication-section {

        &--services-page {
            padding-top: 80px;
        }
    }

    &__footer-section {
        border-top: 2px solid #E6E6F0;
    }

    &__popup {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(50, 50, 100, 0.7);
    }
}

@media (min-width: map.get($screen, tablet)) {
    .body {
        &__icon-section {

            &--homepage {
                padding-top: 15px;
            } 
        }

        &____clients-section {
        
            &--homepage {
                padding-top: 60px;
            }
    
            &--services-page {
                padding-top: 80px;
            }
        }
    }
}

