@use "../../installations/variables" as *;
@use "../../installations/mixins" as *;
@use "sass:map";

$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);

.category-name {
    @include caps-text;
    color: $regular-color;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 2px;
    
    &:hover {
        color: $hover-color 
    }

    &:hover .category-name__arrow path {
        stroke: $hover-color 
    }

    &__header {
        @include header-text-mobile;
        @include gradient-text ();
    }
}

@media (min-width: map.get($screen, tablet))  {
    .category-name__header {
        @include header-text-desktop;
    }
}












