@use "../../../installations/variables" as *;
@use "../../../installations/mixins" as *;
@use "sass:map";

$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);

.about-page {
    padding-bottom: 30px;
    
    &__first-part {
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__second-part {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__text-part {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__main-info {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__main-header {
        @include header-text-mobile;
        @include gradient-text ();
        margin-bottom: 0;
    }

    &__text {
        @include font (400, 19px, 30px, #000000);
        margin-bottom: 0;
    }

    &__background {
        @include bg-img ('../images/team-all.jpg');
        @include size (100%, 114px);
        position: relative;
    }

    &__background-text {
        @include font (700, 36px, 44px, #FFFFFF);
        opacity: 80%;
        letter-spacing: 13px;
        text-transform: uppercase;
        @include center;
    }
}

   
@media (min-width: map.get($screen, tablet)) {
    .about-page {
        padding-bottom: 60px;

        &__first-part {
            padding-bottom: 60px;
        }

        &__second-part {
            padding-top: 60px;
        }

        &__main-header {
            @include header-text-desktop;
        }

        &__background {
            height: 234px;
        }

        &__background-text {
            font-size: 46px;
            line-height: 56px;
            letter-spacing: 63px;
        }
    }
}

@media (min-width: map.get($screen, laptop)) {
   .about-page {
   
        &__background {
            height: 312px;
        }

        &__background-text {
            font-size: 86px;
            line-height: 105px;
        }

        &__first-part,
        &__second-part {
            display: grid;
            grid-template-columns: 1fr 385px;
        }

        &__second-part {
            column-gap: 60px;
        }

        &__achievements {
            grid-column: 2/3;
            align-self: flex-start;
        }

        &__main-info,
        &__text-part {
            grid-column: 1/2;
        }
    }
}

@media (min-width: map.get($screen, desktop-sd)) {
    .about-page {

        &__background {
            height: 438px;
        }

        &__background-text {
            font-size: 96px;
            line-height: 117px;
        }
    }
}

@media (min-width: map.get($screen, desktop-hd)) {
    .about-page {

        &__background {
            height: 584px;
        }
    }
}

