@use "../../../installations/variables" as *;
@use "../../../installations/mixins" as *;
@use "sass:map";

$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);

.team-item {
    @include paddingY (30px);
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__image {
        @include bg-img ('../images/team-5.jpg');
        @include size (100%, 375px);
        border-radius: 12px;
    }

    &__main-header {
        margin-bottom: 15px;
        @include header-text-mobile;
        @include gradient-text ();
    }
    
    &__job {
        @include font(400, 14px, 22px, $secondary-text-color);
        margin-bottom: 10px;
    }

    &__link {
        @include regular-text;
        margin-bottom: 10px;
        text-decoration: none;
        display: block;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__information {
        padding-top: 30px;
        border-top: $separator;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__text {
        margin-bottom: 0;
        @include font (400, 16px, 26px, #000000);
    }

    &__secondary-header {
        @include caps-text;
        color: $main-text-color;
        margin-bottom: 15px;
    }
}



@media (min-width: map.get($screen, tablet)) {
    .team-item {
        @include paddingYY (0, 60px);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;

        &__image {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        &__information {
            grid-column: 1/-1;
            grid-row: 2/3;
        }

        &__personal-data {
            grid-column: 2/3;
            grid-row: 1/2;
            align-self: center;
        }
    }   
}

@media (min-width: map.get($screen, laptop)) {
    .team-item {
        column-gap: 60px;
        grid-template-columns: 300px 1fr;

        &__image {
            grid-column: 1/2;
            grid-row: 1/-1;
            @include size (300px, 375x);
        }

        &__information {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        &__personal-data {
            grid-column: 2/3;
            grid-row: 1/2;
        }
    }   
}

@media (min-width: map.get($screen, desktop-sd)) {
    .team-item {
        grid-template-columns: 400px 1fr;

        &__image {
            @include size (400px, 500px);
        }
    } 
}