@use "../../../installations/variables" as *;
@use "../../../installations/mixins" as *;
@use "sass:map";

$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);

.team-page {
    @include paddingYY (30px, 60px);

    &__header {
        @include header-text-mobile;
        @include gradient-text();
        margin-bottom: 30px;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}


@media (min-width: map.get($screen, tablet)) {
    .team-page {
        padding-top: 0;

        &__header {
            @include header-text-desktop;
            margin-bottom: 60px;
        }

        &__cards {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 60px;
        }
    }
}