@use "../../../installations/variables" as *;
@use "../../../installations/mixins" as *;
@use "sass:map";

$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);

.team-section {
    @include paddingXX (50px, 30px);
    &__card {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }

    &__photo {
        height: 500px;
        @include bg-img ("../images/partner.png");
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        overflow: hidden;
    }

    &__article {
        padding: 30px;
        background-color: $secondary-background;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        overflow: hidden;
    }

    &__category {
        margin-bottom: 5px;
    }

    &__header {
        margin-bottom: 30px;
    }

    &__author {
        @include font (700, 16px, 19px, $secondary-text-color);
        margin-bottom: 6px;
    }

    &__position {
        @include font (400, 14px, 22px, $secondary-text-color);
        margin-bottom:0;
    }
}

@media (min-width: map.get($screen, tablet)) {
    .team-section {
        padding-top: 80px;
    }
}

@media (min-width: map.get($screen, laptop))  {
    .team-section {
        &__card {
            flex-direction: row;
        }

        &__photo {
            border-bottom-left-radius: 12px;
            border-top-right-radius: 0;
            min-width: 400px;
            height: 528px;
        }

        &__article {
            border-bottom-left-radius: 0;
            border-top-right-radius: 12px;
        }
    }   
}

@media (min-width: map.get($screen, desktop-sd)) {
    .team-section__photo {
        height: 344px;
    }
}

@media (min-width: map.get($screen, desktop-hd)) {
    .team-section__photo {
        height: 298px;
    }
}