@use "../../variables" as *;
@use "../../mixins" as *;
@use "sass:map";

$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);

.icons-section {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: relative;

    &::before{
        content: '';
        background-color: #CACADB;
        height: 10px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        position: absolute;
        bottom: -10px;
        left: 20px;
        right: 20px;   
    }
    
    &::after {
        content: '';
        background-color: #E7E7F2;
        height: 10px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        position: absolute;
        bottom: -20px;
        left: 40px;
        right: 40px;
    }
    
    &__category {
        margin-bottom: 10px;
    }
    
    &__header {
        margin-bottom: 30px;
    }
}


@media (min-width: map.get($screen, tablet)) {
    .icons-section {
        padding-top: 15px;

        &__header {
            margin-bottom: 60px;
        }
    }
}
    
    

