@use "../../variables" as *;
@use "../../mixins" as *;
@use "sass:map";

$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-sd": 1440px,
          "desktop-hd": 1920px);

.icon-list {
    display: flex;
    flex-direction: column;

    &__item {
        margin-bottom: 30px;
    }
    
    &__item:last-child {
        margin-bottom: 0;
    }
    
    &__img {
        display: inline-block;
        width: 92px;
        height: 92px;
        border-radius: 24px;
        background-color: #FFFFFF;
        margin-bottom: 30px;
        position: relative;

        &--ecommerce::after {
            content: url("../images/svg/services/ecommerce.svg");
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &--support::after {
            content: url("../images/svg/services/support.svg");
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &--coprorate::after {
            content: url("../images/svg/services/coprorate.svg");
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &--trust::after {
            content: url("../images/svg/services/trust.svg");
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &--protection::after {
            content: url("../images/svg/services/protection.svg");
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &--court::after {
            content: url("../images/svg/services/court.svg");
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    
    &__header {
        @include font (700, 22px, 27px, $headerColor);
        margin-top: 0;
        margin-bottom: 15px;
        width: 100%;

        &:hover {
            color: $hoverColor;
        }
    }
    
    &__text {
        @include font (400, 16px, 26px, #FFFFFF);
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
    }
}

@media (min-width: map.get($screen, tablet)) {
    .icon-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 60px;

        &__item {
            width: calc(50% - 30px);
            margin-bottom: 0;
        }
    }
}

@media (min-width: map.get($screen, laptop)) {
    .icon-list__item {
        width: calc(33.33% - 40px);
    }
}

