@use "../../variables" as *;
@use "../../mixins" as *;

.languages {
    display: flex;
    align-items: center;

    &__item {
        text-decoration: none;
            letter-spacing: 1px;
            padding: 5px 7px;
            border-radius: 8px;
            background-color: transparent; 
            @include font (700, 12px, 15px);

        &--dark  {
            color: #FFFFFF;
        }

        &--light {
            color: #B3B3BA;
        }

        &--active {
            background-color: $hoverColor;
            color: #FFFFFF;
        }
    }
}